.container {
    margin: 5rem 0;
}

.mail {
    text-align: left;
    position: relative;
}

.mail h3 {
    font-family: "RalewayVariable", Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: 2rem;
    font-size: 3rem;
}

.mail p {
    font-size: 1.2rem;
}

.emphasis {
    border: 1px solid #90AACB;
    border-radius: 80%;
}

.social {
    --icon-size: 50px;
    position: absolute;
    left: var(--left-val);
    top: 100%;
    width: var(--icon-size);
    height: var(--icon-size);
    padding: 10px;
    border: 2px solid #90AACB;
    border-radius: 50%;
    z-index: 10;
}

@media (max-width: 699px) {
    .mail h3 {
        font-size: 1.8rem;
    }

    .mail p {
        font-size: 1rem;
    }
}