.container {
    margin: 5rem 0;
}

.mail {
    text-align: left;
}

.mail h3 {
    font-family: "RalewayVariable", Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: 2rem;
    font-size: 3rem;
}

.mail p {
    font-size: 1.2rem;
}

.emphasis {
    border: 1px solid #90AACB;
    border-radius: 80%;
}

@media (max-width: 699px) {
    .mail h3 {
        font-size: 1.8rem;
    }

    .mail p {
        font-size: 1rem;
    }
}