#strengths section.is-inview[data-v-ecd977a8]:before {
    transform: scaleX(1);
}

#strengths section[data-v-ecd977a8]:before {
    content: "";
    position: absolute;
    height: 1px;
    width: 100%;
    top: 0;
    left: 0;
    background: #fff;
    opacity: .25;
    transform-origin: 50% 50%;
    transition: transform 2s cubic-bezier(.19,1,.22,1);
    transition-delay: .25s;
    transform: scaleX(0);
    will-change: transform;
}