header {
    max-width: 960px;
    margin: 0 auto;
    padding: 1.4rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-title-text {
    text-transform: uppercase;
}

